* {
  margin: 0;
  padding: 0; }

body {
  background-color: #E8EBF7; }

main {
  min-height: 7vh; }

.nav .nav-contacto {
  background-image: linear-gradient(#52E0CD 90%, #22BFAA);
  display: flex;
  justify-content: center; }
  .nav .nav-contacto .nav-telefono {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center; }
    .nav .nav-contacto .nav-telefono li {
      margin: 2px;
      transition: transform 0.3s ease-in-out; }
      .nav .nav-contacto .nav-telefono li:hover {
        transform: scale(1.1); }
      .nav .nav-contacto .nav-telefono li a {
        text-decoration: none;
        color: #E8EBF7;
        padding: 5px 3px;
        border-radius: 5px; }
        .nav .nav-contacto .nav-telefono li a:hover {
          background-color: #22BFAA;
          color: #131516; }
  .nav .nav-contacto .redes-sociales {
    list-style: none;
    display: flex;
    justify-content: space-around; }
    .nav .nav-contacto .redes-sociales li {
      margin: 2px;
      transition: transform 0.3s ease-in-out; }
      .nav .nav-contacto .redes-sociales li:hover {
        transform: scale(1.2); }
      .nav .nav-contacto .redes-sociales li a {
        text-decoration: none;
        padding: 0; }
        .nav .nav-contacto .redes-sociales li a img {
          height: 15px;
          width: 15px; }

.nav .barra-de-navegacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #22BFAA;
  height: auto; }
  .nav .barra-de-navegacion .nav-logo {
    width: 80px;
    height: 80px; }
    .nav .barra-de-navegacion .nav-logo ul {
      list-style: none; }
      .nav .barra-de-navegacion .nav-logo ul li {
        transition: transform 0.3s ease-in-out; }
        .nav .barra-de-navegacion .nav-logo ul li:hover {
          transform: scale(1.1); }
        .nav .barra-de-navegacion .nav-logo ul li a {
          text-decoration: none; }
          .nav .barra-de-navegacion .nav-logo ul li a:hover {
            background-color: #22BFAA; }
  .nav .barra-de-navegacion ul li {
    list-style: none;
    margin: 5px;
    transition: transform 0.3s ease-in-out; }
    .nav .barra-de-navegacion ul li:hover {
      transform: scale(1.1); }
    .nav .barra-de-navegacion ul li a {
      text-decoration: none;
      color: #E8EBF7;
      padding: 5px 10px;
      border-radius: 5px; }
      .nav .barra-de-navegacion ul li a:hover {
        background-color: #52E0CD;
        color: #131516; }

@media (min-width: 595px) {
  .nav .nav-contacto {
    display: flex;
    justify-content: space-around; }
    .nav .nav-contacto .nav-telefono {
      display: flex;
      justify-content: space-evenly;
      width: 50%; }
    .nav .nav-contacto .redes-sociales {
      display: flex;
      justify-content: space-around;
      width: 50%; }
      .nav .nav-contacto .redes-sociales li a img {
        height: 25px;
        width: 25px; }
  .nav .barra-de-navegacion .nav-logo {
    width: 40px;
    height: 40px; }
  .nav .barra-de-navegacion ul {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .nav .barra-de-navegacion ul li a {
      margin: 5px; } }

.titulo-index {
  display: flex;
  justify-content: center; }

.inicio-index .inicio-texto-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px; }
  .inicio-index .inicio-texto-index h3 {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }

.contenido-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; }
  .contenido-index .comunicarse-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #52E0CD solid 1px;
    margin: 5px; }
    .contenido-index .comunicarse-index div {
      border-radius: 5px;
      padding: 5px 10px;
      animation: heartbeat 1s infinite; }

@keyframes heartbeat {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .contenido-index .comunicarse-index div:hover {
        background-color: #22BFAA; }
      .contenido-index .comunicarse-index div a {
        text-decoration: none;
        color: #131516; }
        .contenido-index .comunicarse-index div a:hover {
          color: #E8EBF7; }
    .contenido-index .comunicarse-index h3 {
      background-color: #22BFAA;
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .contenido-index .profecionales-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-bottom: #52E0CD solid 1px;
    margin: 5px; }
    .contenido-index .profecionales-index div {
      border-radius: 5px;
      padding: 5px 10px;
      animation: heartbeat 1s infinite; }

@keyframes heartbeat {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .contenido-index .profecionales-index div:hover {
        background-color: #22BFAA; }
      .contenido-index .profecionales-index div a {
        text-decoration: none;
        color: #131516; }
        .contenido-index .profecionales-index div a:hover {
          color: #E8EBF7; }
    .contenido-index .profecionales-index h3 {
      background-color: #22BFAA;
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .contenido-index .primeros-auxilios-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-bottom: #52E0CD solid 1px;
    margin: 5px; }
    .contenido-index .primeros-auxilios-index div {
      border-radius: 5px;
      padding: 5px 10px;
      animation: heartbeat 1s infinite; }

@keyframes heartbeat {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
      .contenido-index .primeros-auxilios-index div:hover {
        background-color: #22BFAA; }
      .contenido-index .primeros-auxilios-index div a {
        text-decoration: none;
        color: #131516; }
        .contenido-index .primeros-auxilios-index div a:hover {
          color: #E8EBF7; }
    .contenido-index .primeros-auxilios-index h3 {
      background-color: #22BFAA;
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center; }

.servicios-index .servicios-texto-index {
  background-image: linear-gradient(#22BFAA 19%, #52E0CD 21%);
  margin: 5px; }
  .servicios-index .servicios-texto-index h3 {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }

@media (min-width: 595px) {
  .inicio-index {
    display: flex;
    justify-content: center; }
    .inicio-index .inicio-texto-index {
      width: 75%; }
  .contenido-index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline; }
    .contenido-index .comunicarse-index {
      width: 32%; }
    .contenido-index .profecionales-index {
      width: 32%; }
    .contenido-index .primeros-auxilios-index {
      width: 32%; }
  .servicios-index {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .servicios-index .servicios-texto-index {
      width: 75%;
      background-image: linear-gradient(#22BFAA 40%, #52E0CD 43%);
      margin: 5px; } }

.titulo-comunicarse {
  display: flex;
  justify-content: center; }

.contenido-comunicarse {
  display: flex;
  flex-direction: column; }
  .contenido-comunicarse .comunicarse-preguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #52E0CD solid 1px;
    margin-top: 20px;
    margin: 5px; }
    .contenido-comunicarse .comunicarse-preguntas h2 {
      background-color: #22BFAA;
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .contenido-comunicarse .comunicarse-visita {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #52E0CD solid 1px;
    margin-top: 20px;
    margin: 5px; }
    .contenido-comunicarse .comunicarse-visita h2 {
      background-color: #22BFAA;
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .contenido-comunicarse .comunicarse-preguntas-individuales {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: #52E0CD solid 1px;
    margin-top: 20px;
    margin: 5px; }
    .contenido-comunicarse .comunicarse-preguntas-individuales h2 {
      background-color: #22BFAA;
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center; }

.comunicarse {
  margin-top: 20px; }
  .comunicarse article {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .comunicarse article div {
      display: flex; }
      .comunicarse article div li {
        border-radius: 5px;
        padding: 5px 10px;
        list-style: none;
        animation: heartbeat 1s infinite; }

@keyframes heartbeat {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
        .comunicarse article div li:hover {
          background-color: #22BFAA; }
        .comunicarse article div li a {
          margin-left: 20px;
          margin-right: 20px;
          text-decoration: none;
          color: #131516; }

@media (min-width: 595px) {
  .contenido-comunicarse {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline; }
    .contenido-comunicarse .comunicarse-preguntas {
      width: 32%; }
    .contenido-comunicarse .comunicarse-visita {
      width: 32%; }
    .contenido-comunicarse .comunicarse-preguntas-individuales {
      width: 32%; } }

.footer {
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas: "footer-link footer-redes-sociales" "footer-enlaces-rapidos footer-contacto"; }

.footer-redes-sociales {
  grid-area: footer-redes-sociales; }

.footer-link {
  grid-area: footer-link; }

.footer-enlaces-rapidos {
  grid-area: footer-enlaces-rapidos; }

.footer-contacto {
  grid-area: footer-contacto; }

footer {
  background-color: #22BFAA;
  margin-top: 20px; }
  footer .footer-logo {
    display: flex;
    justify-content: center; }
    footer .footer-logo ul {
      list-style: none; }
      footer .footer-logo ul li a {
        text-decoration: none; }
        footer .footer-logo ul li a img {
          width: 50px;
          height: 50px; }
  footer .footer-link {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .footer-link ul {
      list-style: none; }
      footer .footer-link ul li a {
        text-decoration: none;
        color: #E8EBF7; }
  footer .footer-redes-sociales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0; }
    footer .footer-redes-sociales h4 {
      color: #E8EBF7; }
    footer .footer-redes-sociales ul {
      list-style: none;
      display: flex; }
      footer .footer-redes-sociales ul li {
        margin: 5px; }
        footer .footer-redes-sociales ul li a {
          text-decoration: none; }
          footer .footer-redes-sociales ul li a img {
            width: 20px;
            height: 20px; }
  footer .footer-enlaces-rapidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .footer-enlaces-rapidos h4 {
      color: #E8EBF7; }
    footer .footer-enlaces-rapidos ul {
      list-style: none; }
      footer .footer-enlaces-rapidos ul li a {
        text-decoration: none;
        color: #E8EBF7; }
  footer .footer-contacto form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .footer-contacto form input {
      width: 90%;
      margin: 5px;
      transition: transform 0.3s ease-in-out; }
      footer .footer-contacto form input:hover {
        transform: scale(1.1); }
    footer .footer-contacto form textarea {
      width: 90%;
      margin: 5px;
      transition: transform 0.3s ease-in-out; }
      footer .footer-contacto form textarea:hover {
        transform: scale(1.1); }
  footer .footer-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: #52E0CD; }

@media (min-width: 595px) {
  .footer {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas: "footer-link footer-enlaces-rapidos  footer-contacto" ". footer-redes-sociales ."; }
  .footer-redes-sociales {
    grid-area: footer-redes-sociales; }
  .footer-link {
    grid-area: footer-link; }
  .footer-enlaces-rapidos {
    grid-area: footer-enlaces-rapidos; }
  .footer-contacto {
    grid-area: footer-contacto; } }
