.nav {

    .nav-contacto {
        background-image: linear-gradient($turquesa 90%, $turquesa-oscuro);
        display: flex;
        justify-content: center;

        .nav-telefono {
            display: flex;
            justify-content: space-around;
            list-style: none;
            align-items: center;

            li {
                margin: 2px;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    text-decoration: none;
                    color: $blanco;
                    padding: 5px 3px;
                    border-radius: 5px;

                    &:hover {
                        background-color: $turquesa-oscuro;
                        color: $negro;

                    }
                }
            }

        }

        .redes-sociales {
            list-style: none;
            display: flex;
            justify-content: space-around;

            li {
                margin: 2px;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }

                a {
                    text-decoration: none;
                    padding: 0;

                    img {
                        height: 15px;
                        width: 15px;
                    }
                }
            }

        }
    }

    .barra-de-navegacion {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $turquesa-oscuro;
        height: auto;

        .nav-logo {
            width: 80px;
            height: 80px;

            ul {
                list-style: none;

                li {
                    transition: transform 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                    }

                    a {
                        text-decoration: none;

                        &:hover {
                            background-color: $turquesa-oscuro;
                        }
                    }
                }
            }

        }

        ul {

            li {
                list-style: none;
                margin: 5px;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }

                a {
                    text-decoration: none;
                    color: $blanco;
                    padding: 5px 10px;
                    border-radius: 5px;

                    &:hover {
                        background-color: $turquesa;
                        color: $negro;

                    }
                }
            }
        }
    }
}

@media (min-width: 595px) {
    .nav {
        .nav-contacto {
            display: flex;
            justify-content: space-around;

            .nav-telefono {
                display: flex;
                justify-content: space-evenly;
                width: 50%;

            }

            .redes-sociales {
                display: flex;
                justify-content: space-around;
                width: 50%;

                li {

                    a {
                        img {
                            height: 25px;
                            width: 25px;
                        }
                    }
                }
            }
        }

        .barra-de-navegacion {

            .nav-logo {
                width: 40px;
                height: 40px;
            }

            ul {
                display: flex;
                flex-direction: row;
                align-items: center;

                li {
                    a {
                        margin: 5px;
                    }
                }
            }
        }
    }
}