.titulo-comunicarse{
    display: flex;
    justify-content: center;
}

.contenido-comunicarse {
    display: flex;
    flex-direction: column;

    .comunicarse-preguntas {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: $turquesa solid 1px;
        margin-top: 20px;
        margin: 5px;

        h2 {
            background-color: $turquesa-oscuro;
            width: 100%;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    .comunicarse-visita {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: $turquesa solid 1px;
        margin-top: 20px;
        margin: 5px;

        h2 {
            background-color: $turquesa-oscuro;
            width: 100%;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .comunicarse-preguntas-individuales {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: $turquesa solid 1px;
        margin-top: 20px;
        margin: 5px;

        h2 {
            background-color: $turquesa-oscuro;
            width: 100%;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.comunicarse {
    margin-top: 20px;

    article {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            display: flex;


            li {
                border-radius: 5px;
                padding: 5px 10px;
                list-style: none;
                animation: heartbeat 1s infinite;

                @keyframes heartbeat {
                    0% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(1.1);
                    }

                    100% {
                        transform: scale(1);
                    }
                }

                &:hover {
                    background-color: $turquesa-oscuro;
                }

                a {
                    margin-left: 20px;
                    margin-right: 20px;
                    text-decoration: none;
                    color: $negro;
                }
            }
        }
    }
}

@media (min-width: 595px) {
    .contenido-comunicarse {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;

        .comunicarse-preguntas {
            width: 32%;
        }

        .comunicarse-visita {
            width: 32%;
        }

        .comunicarse-preguntas-individuales {
            width: 32%;
        }
    }
}